{
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "simple-import-sort"
  ],
  "rules": {
    "eqeqeq": [2,"always"],
    "space-in-parens": [0, "always"],
    "template-curly-spacing": [0, "always"],
    "array-bracket-spacing": [0, "always"],
    "object-curly-spacing": [0, "always"],
    "computed-property-spacing": [0, "always"],
    "no-multiple-empty-lines": [2, {"max": 1, "maxEOF": 1, "maxBOF": 0}],
    "quotes": [1, "single", {"avoidEscape": true}],
    "no-use-before-define": [0, {"functions": false}],
    "semi": [2, "always"],
    "prefer-const": 1,
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-curly-spacing": [0, "always"],
    "react/jsx-indent": [2, 2],
    "indent": [2, 2, {
      "ArrayExpression": 1,
      "CallExpression": {
          "arguments": "off"
      },
      "FunctionDeclaration": {
          "body": 1,
          "parameters": "first"
      },
      "FunctionExpression": {
          "body": 1,
          "parameters": "first"
      },
      "MemberExpression": 1,
      "ObjectExpression": "first",
      "SwitchCase": 1,
      // JSX nodes should be ignored by this rule as they're handled by react/jsx-indent
      "ignoredNodes": [
        "JSXElement",
        "JSXElement *",
        "JSXElement > *",
        "JSXAttribute",
        "JSXIdentifier",
        "JSXNamespacedName",
        "JSXMemberExpression",
        "JSXSpreadAttribute",
        "JSXExpressionContainer",
        "JSXOpeningElement",
        "JSXClosingElement",
        "JSXText",
        "JSXEmptyExpression",
        "JSXSpreadChild"
      ],
      "outerIIFEBody": 1
    }],
    "no-case-declarations": [2],
    "no-trailing-spaces": [2],
    "no-return-assign": [2],
    "no-param-reassign": [1, {"props": false}],
    "no-shadow": [0],
    "no-underscore-dangle" : [0, "always"],
    "sort-imports": [0],
    "simple-import-sort/sort": [2, {
      "groups": [["^\\u0000", "^@?\\w", "^[^.]", "^\\."]]
    }],
    "eol-last": [1, "always"],
    "one-var": [2, "never"]
  },
  "settings": {
    "react": {"version": "detect"}
  }
}
