name: link-checker 
on:
  pull_request:

permissions:
  contents: read

jobs:
  link-check:
    name: Check Links
    runs-on: ubuntu-22.04
    steps:
    - name: Check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Check links
      uses: lycheeverse/lychee-action@a8c4c7cb88f0c7386610c35eb25108e448569cb0  #v2.7.0
      with:
        fail: true
        lycheeVersion: v0.19.1
        args: --verbose --no-progress -r 20 './**/*.js' './**/*.ts' './**/*.jsx' './**/*.tsx' './**/*.md' './**/*.mkd' './**/*.mdx' './**/*.mdown' './**/*.mdwn' './**/*.mkdn' './**/*.mkdown' './**/*.markdown' './**/*.html' './**/*.htm' './**/*.txt'

