name: updater
on:
  pull_request:
    paths:
    - 'updater/**'

permissions:
  contents: read

jobs:
  build:
    name: Test updater library
    runs-on: ubuntu-24.04
    steps:
    - name: Check out code
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: ./updater/go.mod
      id: go

    - name: Start postgres dependency
      run: |
        docker compose -f backend/docker-compose.test.yaml up -d postgres

    - name: Test library
      env:
        NEBRASKA_DB_URL: "postgres://postgres:nebraska@127.0.0.1:8001/nebraska_tests?sslmode=disable&connect_timeout=10"
      run: |
        cd updater
        go test -v ./...
